/*Body*/
body{
    display: flex;
    background-color: blanchedalmond;
}

/*Links*/
a:visited {
    color: black;
    }

a:hover {
    color: red;
    }

/*Datos*/

#Datos img{
    
    border: solid black ;
}

#Datos {
    position: relative;
    left: 50px;
}

/*Informacion personal*/
#InformacionPersonal h1{
    font-style: oblique;
    color: black;
} 
#InformacionPersonal h2{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    font-style: oblique;
    color: blue;
} 
#InformacionPersonal p{
    font-style: italic;
}


/*Contacto*/
#contacto img{

    width: 20px; 
    height: 20px;
}


/*Experiencia*/

#Experiencia h1{
    color: red;
    font-style: oblique;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
