/*Predeterminado*/

*{
    box-sizing: border-box;
    margin: 2px;
    padding: 2px;
}


/*Body*/
body{
    display: flex;
    background-color: blanchedalmond;
}

/*Links*/
a:visited {
    color: black;
    }

a:hover {
    color: red;
    }

/*Datos*/
#Datos h1{
    position: relative;
    left: 70px;
    font-style: oblique;
    color: black;
}
#Datos img{
    position: relative;
    left: 50px;
    border: solid black ;
}

/*Informacion personal*/

#InformacionPersonal h2{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    font-style: oblique;
    color: blue;
} 
#InformacionPersonal p{
    font-style: italic;
}


/*Contacto*/

#contacto h2{

    border-bottom: 1px solid black;
    border-top: 1px solid black;
    font-style: oblique;
    color: blue;
}

#contacto img{

    width: 20px; 
    height: 20px;
}


/*Experiencia*/


#Experiencia{

    position: relative;
    left: 50px;
}
    

#Experiencia h1{
    color: red;
    font-style: oblique;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

#Experiencia h2{

    color:blueviolet;
    font-style: oblique;
}
